@import url("https://fonts.googleapis.com/css?family=Crushed");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.menu-controller-checkbox {
  display: none; }

.slide-left .menu-controller-checkbox ~ ul {
  transition: left .5s ease; }
.slide-left .menu-controller-checkbox:checked ~ ul {
  left: 0; }

.slide-left {
  position: relative; }
  .slide-left ul {
    background-color: #25A7DE;
    font-family: "Crushed", cursive;
    font-size: 2.25em;
    height: 100%;
    left: -66%;
    line-height: 3rem;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    width: 66%;
    z-index: 1; }
    .slide-left ul a {
      display: block;
      margin-bottom: 1.5rem;
      width: 100%; }
    .slide-left ul a:link,
    .slide-left ul a:visited {
      color: white;
      text-decoration: none; }
    .slide-left ul a:hover {
      color: grey; }
    .slide-left ul a:active {
      text-decoration: line-through; }
    .slide-left ul label {
      color: white;
      display: block;
      font-family: 'Helvetica', 'Arial', sans-serif;
      font-size: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      position: absolute;
      right: 0.75rem;
      text-align: center;
      top: 0.75rem;
      width: 1.5rem; }
  .slide-left .menu-controller-label {
    background-color: #25A7DE;
    display: inline-block;
    font-size: 3rem;
    padding-top: 25px;
    line-height: 0; }

h1 {
  float: right;
  font-size: 3rem;
  margin-right: 1.5rem; }

@media (min-width: 768px) {
  h1 {
    font-size: 4rem; }

  .menu-controller-label {
    padding-top: 40px; } }
@media (min-width: 1024px) {
  h1 {
    float: none;
    margin-left: 1.5rem;
    padding-top: 1.5rem;
    font-size: 6rem; }

  .slide-left .menu-controller-checkbox ~ ul {
    max-height: none;
    overflow: visible; }
  .slide-left .menu-controller-label {
    display: none;
    visibility: hidden; }

  .slide-left ul {
    position: relative;
    background-color: transparent;
    height: inherit;
    left: 4rem;
    line-height: 1.5rem;
    font-size: 1.5em;
    padding: 0;
    width: 100%;
    display: inline-block;
    margin-left: 15rem;
    margin-bottom: 1.5rem;
    align: center;
    z-index: 1; }
    .slide-left ul li {
      background-color: transparent;
      display: inline-block;
      margin: 0 1rem 0 0;
      padding: 0;
      text-align: left; }
      .slide-left ul li a {
        margin-bottom: 0; }
      .slide-left ul li a:link,
      .slide-left ul li a:visited {
        color: white;
        text-decoration: none; }
      .slide-left ul li a:hover {
        color: grey;
        text-decoration: underline; }
      .slide-left ul li a:active {
        text-decoration: line-through; }
    .slide-left ul label {
      display: none;
      visibility: hidden; } }
/*Globals*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Crushed", cursive; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

header {
  background-color: #25A7DE;
  color: white;
  border-bottom: solid white 2px; }
  header a {
    color: white; }

.mainnav {
  font-family: "Crushed", cursive; }

p {
  font-family: "Arial", sans-serif;
  line-height: 1.65rem;
  font-size: 16px;
  color: #333333; }

/*front page*/
.banner {
  background-image: url(../IMG/homebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  position: relative;
  z-index: -10; }
  @media (min-width: 480px) {
    .banner {
      min-height: 600px; } }
  @media (min-width: 768px) {
    .banner {
      min-height: 700px; } }
  @media (min-width: 1024px) {
    .banner {
      min-height: 900px; } }
  .banner h2 {
    color: white;
    position: absolute;
    left: 165px;
    bottom: 40px;
    font-size: 2rem; }
    @media (min-width: 480px) {
      .banner h2 {
        left: 200px;
        bottom: 100px; } }
    @media (min-width: 768px) {
      .banner h2 {
        left: 400px;
        bottom: 150px;
        font-size: 3rem; } }
    @media (min-width: 1024px) {
      .banner h2 {
        left: 700px;
        bottom: 300px;
        font-size: 4rem; } }

/*footer*/
footer p {
  background-color: #25A7DE;
  color: white;
  min-height: 100px;
  text-align: center;
  font-family: "Crushed", cursive;
  clear: both; }

/*subpages*/
.biography p {
  font-family: "Arial", sans-serif;
  line-height: 1.65rem;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  color: #333333; }
  @media (min-width: 768px) {
    .biography p {
      line-height: 1.8rem;
      margin-top: 10px;
      margin-bottom: 5px;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 18px; } }
  @media (min-width: 1024px) {
    .biography p {
      font-size: 16px;
      line-height: 1.5rem; } }
.biography h2 {
  color: #F1CE54;
  font-size: 2.5rem;
  text-align: center; }
.biography .biopic {
  width: 100%; }
  @media (min-width: 768px) {
    .biography .biopic {
      width: 80%;
      margin: auto; } }
  @media (min-width: 1024px) {
    .biography .biopic {
      float: left;
      width: 60%; } }

.resume h2 {
  color: #F1CE54;
  font-size: 2.5rem;
  text-align: center; }
.resume ul {
  margin: 0;
  padding-top: 20px;
  display: block;
  visibility: visible;
  list-style: square;
  list-style-type: square;
  margin-bottom: 1.5rem; }
  .resume ul li {
    visibility: visible;
    font-family: "Arial", sans-serif;
    color: #333333;
    font-size: 16px;
    display: block;
    list-style: square; }
  .resume ul h3 {
    color: #25A7DE; }
.resume .resumeimg {
  width: 100%; }

ul li {
  visibility: visible; }

.resumecontent {
  width: 50%;
  margin: auto; }

/*# sourceMappingURL=css.css.map */
