/*Globals*/

h1, h2, h3, h4, h5, h6 {
  font-family: $headerfont;
}

ul {
  list-style: none;
}
 header {
   background-color: $maincolor;
    color: white;}

.mainnav {
  font-family: $headerfont;
  }

  .banner {
    background-image: url(../IMG/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;

    @include bigphone {
      min-height: 600px;
    }

    @include tablet {
      min-height: 700px;
    }

    @include desktop {
      min-height: 900px;
    }
  }

  footer {
    background-color: $maincolor;
    color: white;
    min-height: 100px;
    text-align: center;
    font-family: $headerfont;

  }
