/*Globals*/

h1, h2, h3, h4, h5, h6 {
  font-family: $headerfont;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
 header {
   background-color: $maincolor;
    color: white;

    a {
      color: white;
    }

    border-bottom: solid white 2px;
  }

.mainnav {
  font-family: $headerfont;
  }

  p {
    font-family: $bodyfont;
    line-height: $line-height *1.1;

    font-size: 16px;
    color: $textcolor;
  }

  /*front page*/

  .banner {
    background-image: url(../IMG/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    position: relative;
    z-index: -10;

    @include bigphone {
      min-height: 600px;
    }

    @include tablet {
      min-height: 700px;
    }

    @include desktop {
      min-height: 900px;
    }


  h2 {
    color: white;
    position: absolute;
    left: 165px;
    bottom: 40px;
    font-size: 2rem;

    @include bigphone {
      left: 200px;
      bottom: 100px;
    }

    @include tablet {
      left: 400px;
      bottom: 150px;
      font-size: 3rem;
    }

    @include desktop {
      left: 700px;
      bottom: 300px;
      font-size: 4rem;
    }
  }
  }

/*footer*/
  footer {
     p {
    background-color: $maincolor;
    color: white;
    min-height: 100px;
    text-align: center;
    font-family: $headerfont;
    clear: both;
    padding-top: 40px;
  }
}
  /*subpages*/
.biography {
  p {
    font-family: $bodyfont;
    line-height: $line-height *1.1;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    color: $textcolor;

    @include tablet {
      line-height: $line-height *1.2;
      margin-top: 10px;
      margin-bottom: 5px;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 18px;
    }

    @include desktop {
      font-size: 16px;
      line-height: $line-height;

    }


  }


  h2 {
    color: $secondcolor;
    font-size: 2.5rem;
    text-align: center;
  }

  .biopic {
    width: 100%;

    @include tablet {
      width: 80%;
      margin: auto;
    }

    @include desktop {
      float:left;
      width:  60%;
    }

  }
}

.resume {
  h2 {
    color: $secondcolor;
    font-size: 2.5rem;
    text-align: center;
  }

  ul {
    margin: 0;
    padding-top: 20px;
    display: block;
    visibility: visible;
    list-style: square;
    list-style-type: square;

    li {
    visibility: visible;
    font-family: $bodyfont;
    color: $textcolor;
    font-size: 16px;
    display: block;
    list-style: square;
  }

  h3 {
    color: $secondcolor;
  }
margin-bottom: $line-height;

}

.resumeimg {
  width: 100%;
}
}

ul li {
  visibility: visible;
}

.resumecontent {
  width: 50%;
  margin: auto;
}

.contact {
  line-height: $line-height;


  h2 {
    color: $secondcolor;
    font-size: 2.5rem;
    text-align: center;
    padding-top: $line-height;
    padding-bottom: $line-height;
  }

  h3 {
    color: $secondcolor;
    margin-top: $line-height;
  }

  .contactinfo {
  padding-left: 30px;
  padding-right: 30px;

  @include tablet {
    float: right;
    width: 30%;
    margin-right: $line-height;
  }

  @include desktop {
    float: right;
    width: 45%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.linkbg {
  @include desktop {
    margin-left: 30px;
  }
}

}
