
$bigphone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

$line-height: 1.5rem;


@import url('https://fonts.googleapis.com/css?family=Crushed');
$headerfont: 'Crushed', cursive;
$bodyfont:  "Arial", sans-serif;

$maincolor: #25A7DE;
$secondcolor: #F1CE54;

$textcolor: #333333;

@mixin bigphone {
  @media (min-width: #{$bigphone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
